@import 'mixin';

$scale: 1;

$col: 1vw * $scale;
$row: 1vh * $scale;

$font-size: 1.25vh;
$line-height: 1.5 * $font-size;

$line-font-size: $font-size / 2;
$line: 1px;

$col-count: ceil(24 / $scale);
$row-count: ceil(24 / $scale);

$root-color: #1d1e22;
$back-color: #36383f;
$text-color: #c5c8d4;
$line-color: red;
$gap-color: yellow;
$line-color: #d44545;
$gap-color: #ffdd40;

$switch-border: 0px inset #c5c8d4;

$line-color-opacity: 0;
$gap-color-opacity: 0;

$line-color-opacity: rgba($line-color, $line-color-opacity);
$gap-color-opacity: rgba($gap-color, $gap-color-opacity);

$grid-lines-color: black;

$transition-ms: 0.1s;
$transition-func: cubic-bezier(calc(0 + #{$transition-ms}), 1, 0, 1);
// $title-color: black;
// $root-color: lighten($root-color, 80%);
// $back-color: lighten($back-color, 80%);
// $text-color: darken($text-color, 80%);

$text-color: #24282a;
$back-color: grey;
$root-color: white;

$back-color: #f5f5f5;
$title-color: transparent;
$hover-color: $text-color;

$field-default-data: (
	row: auto,
	span: auto,
	order: 0,
	label: auto,
	input: auto
);

$border-color: black;

%form-shared {
	@include shared((768px));
	@include row(2);
	@include column(2);
}

%group {
	@include shared($pos: relative);
}

%field {
	@include shared($lh: $line-height, $fs: $font-size, $bt: 1px, $bl: 1px);
}
%input {
	@include shared($wmin: 0, $lh: $line-height, $fs: $font-size, $ol: 0);

	transition: 0.1s ease-in-out;

	&:hover,
	&:focus {
		background-size: auto auto;
		background: fill(left, $hover-color, 10px), fill(top, $hover-color, 1px),
			fill(right, $hover-color, 1px), fill(bottom, $hover-color, 1px);
	}
}
%label {
	border: 0;
	// @include border-left($line solid rgba($text-color, 0.5));
	padding: 0 4px;
	line-height: $line-height;
	font-size: $font-size;
	color: darken(white, 70%);
	background: transparentize(lightgray, 0.5);
}

@mixin title($value) {
	.title {
		@include position();
		grid-column: span 24;
		grid-row: span 1;
		line-height: 1.5 * $line-height;
		font-size: $font-size;
		padding-left: 10px;
		background: linear-gradient(
			to right,
			$root-color,
			lighten($root-color, 10%),
			$root-color
		);
		color: lighten(black, 30%);
		border-right: 0;

		&::after {
			content: $value;
			font-weight: 600;
		}
	}
}

@mixin field($name, $data) {
	$field: map-merge($field-default-data, $data);
	.field.#{$name} {
		@extend %field;

		grid-area: $name;
		order: map-get($field, order);
		grid-column: span map-get($field, span);
		grid-row: map-get($field, row);

		display: grid;
		grid-template-columns: repeat(
			map-get($field, span),
			unquote('[col-start] 1fr [col-end]')
		);
		justify-content: stretch;

		label {
			@extend %label;
			grid-column: unquote('span #{map-get($field, label)}');
			& .bank-bic {
				grid-column-end: 2;
			}
		}
		input {
			@extend %input;
			grid-column: unquote(
				'col-end #{map-get($field, label)} / #{map-get($field, span)}'
			);
		}
	}
}

.form {
	max-width: 768px;
	align-self: start;
	grid-column: 2;
	grid-row: 2;
	color: $text-color;

	& .group {
		display: grid;
		grid-template-columns: unquote('repeat(24, [col] minmax(max-content,1fr)) [col]');

		&.info {
			//----------------------------------------------------------
			// @include title('Валютное  поручение');
			//----------------------------------------------------------s
			@include field(documentNumber, $data: (span: 8, row: 2, label: 5));
			@include field(paymentDate, $data: (span: 8, row: 2, label: 2));
			@include field(paymentSpeed, $data: (span: 8, row: 2, label: 4));
		}
		&.payer {
			//----------------------------------------------------------
			@include title('Переводадатель');
			//----------------------------------------------------------
			@include field(payerName, $data: (span: 24, label: 3));
			@include field(payerAcc, $data: (span: 12, label: 3));
			@include field(payerInn, $data: (span: 12, row: 4, label: 3));
			@include field(amount, $data: (span: 12, label: 2));
			@include field(payment-currency, $data: (span: 6, label: 2));
			@include field(payment-rate, $data: (span: 6, label: 2));
			@include field(payer-city, $data: (span: 8, row: 5, label: 3));
			@include field(payer-country-code, $data: (span: 4, row: 5, label: 2));
			@include field(payer-country, $data: (span: 12, label: 2));
			@include field(payer-address, $data: (span: 24, label: 3));
			@include field(payer-employee-fio, $data: (span: 12, label: 3));
			@include field(payer-employee-fio-phones, $data: (span: 12, label: 2));
		}
		&.payer-bank {
			//----------------------------------------------------------
			@include title('Банк переводадателя');
			//----------------------------------------------------------
			@include field(bank-name, $data: (span: 24, row: 2, label: 3));
			@include field(bic-type, $data: (span: 8, row: 3, label: 3));
			@include field(bank-bic, $data: (span: 8, row: 3, label: 2));
			@include field(bank-bic-rus, $data: (span: 8, row: 3, label: 2));
			@include field(bank-city, $data: (span: 8, row: 4, label: 3));
			@include field(bank-country-code, $data: (span: 4, row: 4, label: 2));
			@include field(bank-country, $data: (span: 12, row: 4, label: 2));
			@include field(bank-address, $data: (span: 24, row: 5, label: 3));
		}
		&.intermed-bank {
			@include title('Банк посредника');
			//----------------------------------------------------------
			@include field(bank-name, $data: (span: 24, row: 2, label: 3));
			@include field(bic-type, $data: (span: 8, row: 3, label: 3));
			@include field(bank-bic, $data: (span: 8, row: 3, label: 2));
			@include field(bank-bic-rus, $data: (span: 8, row: 3, label: 2));
			@include field(bank-city, $data: (span: 8, row: 4, label: 3));
			@include field(bank-country-code, $data: (span: 4, row: 4, label: 2));
			@include field(bank-country, $data: (span: 12, row: 4, label: 2));
			@include field(bank-address, $data: (span: 24, row: 5, label: 3));
		}
		&.payee-bank {
			//----------------------------------------------------------
			@include title('Банк бенефициара');
			//----------------------------------------------------------
			@include field(bank-name, $data: (span: 24, row: 2, label: 3));
			@include field(bic-type, $data: (span: 8, row: 3, label: 3));
			@include field(bank-bic, $data: (span: 8, row: 3, label: 2));
			@include field(bank-bic-rus, $data: (span: 8, row: 3, label: 2));
			@include field(bank-city, $data: (span: 8, row: 4, label: 3));
			@include field(bank-country-code, $data: (span: 4, row: 4, label: 2));
			@include field(bank-country, $data: (span: 12, row: 4, label: 2));
			@include field(bank-address, $data: (span: 24, row: 5, label: 3));
		}
		&.payee {
			//----------------------------------------------------------
			@include title('Бенефициар');
			//----------------------------------------------------------
			@include field(payee-name, $data: (span: 24, label: 3));
			@include field(payee-acc, $data: (span: 24, label: 3));
			@include field(payee-city, $data: (span: 8, row: 4, label: 3));
			@include field(payee-country-code, $data: (span: 4, label: 2));
			@include field(payee-country, $data: (span: 12, label: 2));
			@include field(payee-address, $data: (span: 24, label: 3));
		}
		&.commission {
			//----------------------------------------------------------
			@include title('Информация платежа');
			//----------------------------------------------------------
			@include field(commission-type, $data: (span: 12, label: 3));
			@include field(commission-from, $data: (span: 12, label: 2));
			@include field(purpose-text, $data: (span: 24, label: 3));
			@include field(addinfo-text, $data: (span: 24, label: 3));
		}
		&.control-info {
			//----------------------------------------------------------
			@include title('Информация для валютного контроля');
			//----------------------------------------------------------
			@include field(control-info-contract, $data: (span: 12, label: 3));
			@include field(control-info-passport, $data: (span: 12, label: 4));
			@include field(control-info-declaration, $data: (span: 12, label: 3));
			@include field(control-addinfo-text, $data: (span: 12, label: 4));
		}
	}
}

// .group {
// 	background-position: 0 1.5 * $line-height;
// 	background-repeat: no-repeat;
// 	background-clip: content-box;
// 	background-size: 100% 100%;
// 	background-image: fill(left, $text-color, 1px, 0px, 0.5);
// 	border-right: 1px solid rgba($text-color, 0.5);
// }

// .group.info {
// 	background-position: 0 0;
// 	background-repeat: no-repeat;
// 	background-clip: content-box;
// 	background-size: 100% 100%;
// 	background-image: fill(left, $text-color, 1px, 0px, 0.5);
// }

// .group.control-info {
// 	background-position: 0 0;
// 	background-repeat: no-repeat;
// 	background-clip: content-box;
// 	background-size: 100% 100%;
// 	background-image: fill(left, $text-color, 1px, 0px, 0.5);
// }

// .group.control-info + .title {
// 	border-top: 1px solid rgba($text-color, 0.5);
// }
